In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd

In [2]:
pd.set_option("display.max_columns", None)

## Abrindo planilha parcerias Marian

In [3]:
parcerias = pd.read_excel('original_data/Cópia de parcerias122020-2.xlsx')

In [4]:
parcerias.sample(5)

,nr_protocolo,codigo_dre,dre,processo,codigo_osc_parceria,osc_parceira,cnpj,codigo_eol,codigo_escola,unidade_educacional,vagas_contratadas,vagas_bercario_contratadas,valor_mensal,verba_locacao,valor_mensal_iptu,data_inicio,data_termino,situacao,data_lavratura_do_termo,data_solicitacao_convenio,data_do_encerramento,na,no,Distrito
3449,11802017,108700,DIRETORIA REGIONAL DE EDUCACAO ITAQUERA,6016.2017/0054949-2,300368,CENTRO ESPIRITA JESUS REDIVIVO,51.205.094/0001-76,11802017,306739.0,CR.P.CONV - TERESA DAVILA,97,15.0,54212.09,NaN,NaN,2018-01-01,2022-12-31,Aprovado,2017-12-29,2017-12-26,NaT,NaN,NaN,ARICANDUVA
649,10742017,108800,DIRETORIA REGIONAL DE EDUCACAO JACANA/TREMEMBE,6016.2017/0057262-1,300317,CENTRO SOCIAL LEAO XIII,60.980.364/0001-07,10742017,306332.0,CR.P.CONV - LEAO XIII,156,NaN,NaN,NaN,NaN,NaT,NaT,Encerrado,NaT,2017-12-20,2017-12-20,NaN,NaN,NaN
4762,0071/SME/2011,108700,DIRETORIA REGIONAL DE EDUCACAO ITAQUERA,2011-0.056.626-7,300410,CRECHE COMUNITARIA SANTA ISABEL,04.901.768/0001-97,982,307013.0,CR.P.CONV - SEBASTIAO DA SILVA,67,18.0,42544.49,5236.10,NaN,2013-10-21,2016-04-20,Encerrado,2011-04-20,2014-08-01,2015-10-27,NaN,NaN,NaN
4927,132018,108100,DIRETORIA REGIONAL DE EDUCACAO BUTANTA,6016.2017/0054608-6,300908,INSTITUTO MONTEIRO,03.072.993/0001-03,132018,308979.0,CR.P.CONV - SABER VIVER V,121,48.0,70494.81,7000.00,NaN,2017-12-23,2022-12-22,Encerrado,2017-12-23,2017-12-18,2020-03-31,NaN,NaN,NaN
735,4806,109000,DIRETORIA REGIONAL DE EDUCACAO PIRITUBA/JARAGUA,2016-0.207.754-8,300742,INSTITUTO AMOR E UNIAO,73.000.911/0001-92,4806,307240.0,CR.P.CONV - ESTRELA DA MANHA,105,32.0,62747.02,4336.76,NaN,2016-10-11,2019-04-10,Encerrado,2016-10-17,2016-10-18,2017-02-10,NaN,NaN,NaN

In [5]:
parcerias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5626 entries, 0 to 5625
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   nr_protocolo                5626 non-null   object
 1   codigo_dre                  5626 non-null   int64
 2   dre                         5626 non-null   object
 3   processo                    5626 non-null   object
 4   codigo_osc_parceria         5626 non-null   int64
 5   osc_parceira                5626 non-null   object
 6   cnpj                        5626 non-null   object
 7   codigo_eol                  5626 non-null   int64
 8   codigo_escola               5391 non-null   float64
 9   unidade_educacional         5626 non-null   object
 10  vagas_contratadas           5626 non-null   int64
 11  vagas_bercario_contratadas  5275 non-null   float64
 12  valor_mensal                5275 non-null   float64
 13  verba_locacao               3693 non-null   float64
 14  valor_mensal_iptu           1822 non-null   float64
 15  data_inicio                 5335 non-null   datetime64[ns]
 16  data_termino                5335 non-null   datetime64[ns]
 17  situacao                    5626 non-null   object
 18  data_lavratura_do_termo     5325 non-null   datetime64[ns]
 19  data_solicitacao_convenio   5626 non-null   datetime64[ns]
 20  data_do_encerramento        3193 non-null   datetime64[ns]
 21  na                          0 non-null      float64
 22  no                          0 non-null      float64
 23  Distrito                    2138 non-null   object
dtypes: datetime64[ns](5), float64(7), int64(4), object(8)
memory usage: 1.0+ MB

Filtro situacao parcerias aprovada

In [6]:
parcerias['situacao'].unique()

array(['Aprovado', 'Encerrado', 'Reprovado', 'Em AnÃ¡lise'], dtype=object)

In [7]:
filtro_aprovados = parcerias['situacao']=='Aprovado'

In [8]:
filtro_aprovados

0        True
1        True
2        True
3        True
4       False
        ...
5621    False
5622    False
5623    False
5624    False
5625    False
Name: situacao, Length: 5626, dtype: bool

In [9]:
len(parcerias)

5626

In [10]:
parcerias = parcerias[filtro_aprovados].copy().reset_index(drop=True)

In [11]:
parcerias.sample(5)

,nr_protocolo,codigo_dre,dre,processo,codigo_osc_parceria,osc_parceira,cnpj,codigo_eol,codigo_escola,unidade_educacional,vagas_contratadas,vagas_bercario_contratadas,valor_mensal,verba_locacao,valor_mensal_iptu,data_inicio,data_termino,situacao,data_lavratura_do_termo,data_solicitacao_convenio,data_do_encerramento,na,no,Distrito
38,7422018,108400,DIRETORIA REGIONAL DE EDUCACAO FREGUESIA/BRASI...,6016.2018/0051749-5,800254,INSTITUTO AMANA,07.590.278/0001-05,7422018,309254.0,CR.P.CONV - FADA MADRINHA,140,39.0,77300.79,3705.25,174.91,2018-09-29,2023-09-28,Aprovado,2018-10-04,2018-09-03,NaT,NaN,NaN,CACHOEIRINHA
1526,352019,109100,DIRETORIA REGIONAL DE EDUCACAO SANTO AMARO,6016.2019/0020263-1,800171,SOCIEDADE AMIGOS NOVO HORIZONTE,71.735.641/0001-32,352019,309349.0,CR.P.CONV - LOURDINHA PINHEIRO III,226,226.0,166819.64,15711.10,1859.42,2019-05-21,2024-05-20,Aprovado,2019-05-21,2019-05-14,NaT,NaN,NaN,CIDADE ADEMAR
62,1222018,108500,DIRETORIA REGIONAL DE EDUCACAO GUAIANASES,6016.2017/0048484-6,300028,ASS BENEFICENTE 2001,04.186.163/0001-61,1222018,307231.0,CR.P.CONV - SABERES ETERNO,63,39.0,45695.58,3430.00,1396.26,2018-01-01,2022-12-31,Aprovado,2017-01-11,2018-01-11,NaT,NaN,NaN,GUAIANASES
1451,5492017,109200,DIRETORIA REGIONAL DE EDUCACAO SAO MATEUS,6016.2017/0050760-9,300029,ACAO SOCIAL SAO MATEUS,45.880.499/0001-07,5492017,400365.0,CEI INDIR - JARDIM DA CONQUISTA,191,65.0,108500.68,NaN,NaN,2018-01-01,2022-12-31,Aprovado,2017-12-20,2017-11-25,NaT,NaN,NaN,IGUATEMI
1103,212020,109200,DIRETORIA REGIONAL DE EDUCACAO SAO MATEUS,6016.2020/0010822-0,300712,ORG NAC DE DEFESA E APOIO DA CCA ADOL IDOSO E ...,08.849.334/0001-46,212020,400819.0,CEI INDIR - ONDACAIMA,210,72.0,119431.62,NaN,NaN,2020-02-06,2025-02-05,Aprovado,2020-02-06,2020-02-05,NaT,NaN,NaN,IGUATEMI

In [12]:
parcerias['valor_mensal'].isnull().sum()

73

In [13]:
filtro_valor_mensal = parcerias['valor_mensal'].isnull()

In [14]:
parcerias = parcerias[~filtro_valor_mensal].copy().reset_index(drop=True)

In [15]:
parcerias['valor_mensal'].isnull().sum()

0

In [20]:
colunas = ['codigo_escola', 'valor_mensal']

In [22]:
parcerias = parcerias[colunas].copy()

In [23]:
parcerias

      codigo_escola  valor_mensal
0          308415.0      45738.43
1          307032.0      52942.59
2          308751.0      59681.24
3          307879.0      49347.69
4          306337.0      79211.33
...             ...           ...
2062       306362.0     101822.13
2063       308201.0      60389.33
2064       309191.0      68125.50
2065       309397.0     154756.47
2066       308345.0     110188.70

[2067 rows x 2 columns]

In [24]:
parcerias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2067 entries, 0 to 2066
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   codigo_escola  2067 non-null   float64
 1   valor_mensal   2067 non-null   float64
dtypes: float64(2)
memory usage: 32.4 KB

Pegar distritos das escolas